@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.like-list{
    /* width: 80%; */
    margin-bottom: 20px;
}
.likeList{
    width: 100%;
    display: table;
}

.like-list-title{
    display: table-row;
}
.divcol{
    display: table-cell;
    padding-bottom: 16px;
    padding-top: 16px;
}
.line{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    
}
.like-list-title .lno{
    font-size: 0.75em;
    width: 10%;
}

.like-list-title .title{
    font-size: 0.75em;
    width: 20%;
}

.like-list-title .aligns{
    text-align: center;
}

.like-list-title .seller{
    font-size: 0.75em;
    width: 15%;
}

.like-list-title .selection{
    font-size: 0.78em;
    width: 7%;
    padding-top: 9px;
}

.like-list-title .date{
    font-size: 0.75em;
    width: 15%;
}

.like-list-title .status{
    font-size: 0.75em;
    width: 8%;
    padding-left:10px;
}
.like-list-title img{
    width: 20px;
    height: 20px;
}

.like-list .date{
    right: 0;
    font-size: 0.78em;
    width: 18%;
    /* display: inline-block; */
    float: right;
    text-align: right;
    vertical-align: bottom;
    padding-top: 9px;
    
}

.like-list .no {
    font-size: 0.75em;
    display: inline-block;
    width: 2%;
}

@media screen and (max-width: 768px) {
    .like-list .no {
        width: 4%;
    }
    .like-list .date{
        display: none;
    }
    .like-list .m-date {
        display: block;
        width: 100%;
        text-align: right;
    }
    pre {
        overflow: visible;
        margin-top: 60px;
    }
    .like-list .title {
        width: 40%;
    }
}

.like-list .option{
    color: #37cfa2;
    font-weight: bold;
    font-size: 0.8em;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}

.like-list .title {
    width: 50%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space:nowrap; /*공백문자가 있는 경우 줄바꿈하지 않고 한줄로 나오게 처리함 (\A로 줄바꿈가능)*/   
    vertical-align: middle;
    line-height: 1.7em;
}

.like-list .title:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(49, 49, 49);
    -webkit-transition: color 1s;
    transition: color 1s;
}


.s-btn {
    font-size: 0.8em;
    padding: 0px 30px;
    border: 1px solid #ced4da;
    color: #495057;
    border-left: 0px;
}
.s-select {
    font-size: 0.8em;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid #fff;
}

.s-input {
    font-size: 0.8em;
}
.moreView{
    width: 100%;
}

