<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ezcode.demo.mapper.MemberMapper">
	<resultMap type="org.ezcode.demo.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid" />
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="username" column="username" />
		<result property="regDate" column="regdate" />
		<result property="updateDate" column="updatedate" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>

	<resultMap type="org.ezcode.demo.domain.AuthVO" id="authMap">
		<result property="userid" column="userid" />
		<result property="auth" column="auth" />
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		SELECT
		mem.userid, userpw,
		mem.username, enabled, regdate, updatedate, auth
		FROM
		tbl_member mem LEFT OUTER JOIN tbl_member_auth auth
		on mem.userid = auth.userid
		WHERE mem.userid = #{userid}
	</select>

  <insert id="insertMember">
	insert into 
	tbl_member 
	(userid, userpw, username, email, tel, mlang)
	values 
	(#{userid}, #{userpw}, #{username}, #{email}, #{tel}, #{mlang})
  </insert>

  <insert id="insertAuth">
    insert into tbl_member_auth (userid, auth) values(#{userid},#{auth})
  </insert>

  <select id="selectOneMemberById" resultType="org.ezcode.demo.domain.MemberVO">
	  select *
	  from tbl_member
	  where userid = #{userid}
  </select>

  <select id="selectMemberListById" resultType="org.ezcode.demo.domain.MemberVO">
	select *
	from tbl_member
	where userid like concat("%", #{userid}, "%")
  </select>

  <select id="selectAllMember" resultType="org.ezcode.demo.domain.MemberVO">
	  select *
	  from tbl_member
  </select>

  <update id="updateMember">
	update tbl_member
	set username = #{username}, email = #{email}, tel = #{tel}, mlang = #{mlang}
	where userid = #{userid}
  </update>

  <update id="updatePw">
	update tbl_member
	set userpw = #{userpw}
	where userid = #{userid}
  </update>

  <delete id="deleteMember">
	delete from tbl_member
	where userid = #{userid}
  </delete>

  <delete id="deleteMemberAuth">
	delete from tbl_member_auth
	where userid = #{userid}
  </delete>

  <select id="readProfile" resultType="org.ezcode.demo.domain.MemberVO">
	select
	userid, username, mlang, email, grade.gname grade
	from
	tbl_member mem LEFT OUTER JOIN tbl_grade grade
	on mem.gno = grade.gno
	WHERE mem.userid = #{userid}
  </select>

</mapper>