@charset "UTF-8";
.cateboxes{
	background-color: white;
	margin-bottom:0px;
	
}
.moneyIcon {
	width: 20px;
	height: 20px;
}
.cateboxes form{
	margin-left:7px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  display: inline-block;
  margin-top : 15px;
  margin-left : 10px;
}
.p1{
	width:172px;
	height: 171px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
h6{
	font-size : 15px;
}
.money{
	display:inline-block;
	margin-left:5px;
}
.card-img-top{
	width:15vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
    width: 50%;
    padding-top:10px;
}
.list-group-item{
	padding-top:5px;
	padding-bottom:0px;
	height: 45px;
	padding-left:140px;
}
.card-text{
	font-size:15px;
}
.card-body{
	padding-bottom:5px;
	padding-top:5px;
	text-align: left;
}
.starIcon{
	width: 1vw;
}
.rate{
	margin-right:2px;
}


.cshop-page-div {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

/* ---------------go--------------- */
.search-content {
	width: 95%;
}

.content:not(.order-card) {
	width: 70%;
	display: inline-block;
	text-align: center;
}
.search-option-span span {
	font-weight: bold;
	color: brown;
	cursor: pointer;
}

.search-option-span {
	background-color: #fff;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	margin-right: 5px;
	margin-top: 10px;
}

.order-btn a {
	color: #808080;
	vertical-align: middle;
	line-height: 3.5em;
	margin: 0 10px;
	font-size: 0.95em;
	/* font-weight: 500; */
}
/* .order-btn a {
	border-right: 1px solid rgb(197, 197, 197);
	text-align: center;
}

.order-btn a:last-child {
	border-right: none;
} */



.order-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 88%;
	display: inline-block;
	margin-top : 15px;
	margin-left : 10px;
	height: 3.5em;
	padding-left: 2.5%;
	text-align: left;
}

.orderAct {
	font-weight: bold;
	color: #111111 !important;
	border-bottom: 2px solid #37cfa2;
}





.pnolink {
	color: rgb(75, 75, 75);
}
.seller {
	color: rgb(75, 75, 75);
}


.search-condition {
	display: none;
}
.search-content {
	width:21%;
}

.ui-tooltip {
	padding: 10px 20px;
	color: blue;
	border-radius: 20px;
	box-shadow: 0 0 7px green;
	z-index: 999;

  }

  .explan {
	z-index: 999;
  }
  

@media screen and (max-width: 907px) {
	.search-content {
		margin: 0 auto;
		width: 95%;
	}
	.page-item a {
		font-size: 0.7em;
	}
	.site-section .row {
		margin: 0;
		margin-top: 50px;
	}
	#search-btn {
		width: 100% !important;
		color: #fff;
		background-color: #37cfa2;
	}
	.search-form {
		width: 95%;
	}
	.search-condition {
		display: block;
		text-align: right;
	}
	.search-condition:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	.category {
		display: none;
	}
	.content {
		text-align: center;
		width: 100% !important;
		padding: 0;
	}
	.content .card {
		margin-left: 0;
		width: 47% !important;
		/* height: 500px; */
	}
	.list-group-item {
		padding-left: 0;
	}
	.page-link {
		/* padding: 0.3rem 0.45rem; */
	}
	.order-btn a {
		font-size: 0.9em;
	}
	.order-btn {
		width: 95%;
		/* padding-left: 22px;	 */
		margin-left: 0;	
	}
	.order-btn a {
		margin: 0 0;
	}
	.starIcon {
		width: 7%;
	}

	.category-forms .browse-form .custom-control {
		display: inline-block;
		margin-right: 3%;
	}
	.cshop-page-div nav {
		/* width: 100%; */
	}
	.cshop-page-div ul {
		padding: 0 auto;
		/* padding: 0; */
	}
	.seller {
		/* width: 60%;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		-ms-text-overflow: ellipsis;
		-o-text-overflow: ellipsis; */
		font-size: 0.85em;
	}

}

.search-option-span span {
	font-weight: bold;
	color: brown;
	cursor: pointer;
}

.search-option-span {
	background-color: #fff;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	margin-right: 5px;
	margin-top: 10px;
}