<!DOCTYPE html>
<html 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/basicLayout}">
  
  <div class="site-section" id="properties-section" layout:fragment="content">
		<link rel="stylesheet" th:href="@{/css/notice.css}">
    <section class="notice-section container" id="about-section">
    	<div class="search-title">
	    <div>
			<h3>공지사항</h3>
			<p>공지사항을 확인하세요.</p>
	    </div>
    	</div>
    	<div class="search-container">
			<div th:if="${#lists.isEmpty(list)}">
				<small><b>공지사항이 없습니다.</b></small>
			</div>
			<br>
			<div>
				<div class="notice-list origin notice-header">
					<span class="list-no">
						번호
					</span>
					<span class="list-title">
						제목
					</span>
					<span class="list-writer">
						작성자
					</span>
					<span class="list-date">날짜</span>
					<span class="list-hit">
						조회수
					</span>
				</div>
				<br>
				<th:block th:each="notice : ${list}">
					<div class="notice-list origin">
						<span class="list-no" th:text="${notice.bno}">
							1
						</span>
						<span class="list-title read">
							<a th:href="${notice.bno}">
							<th:block th:text="${notice.title}">
								문의 제목
							</th:block>
							</a>
						</span>
						<span class="list-writer">
							<th:block th:text="${notice.writer}">관리자</th:block>
						</span>
						<span class="list-date" th:text="${#dates.format(notice.regdate, 'yyyy/MM/dd')}">2019-12-27</span>
						<span class="list-hit">
							<th:block th:text="${notice.hit}">0</th:block>
						</span>
					</div>
					<hr>
				</th:block>
			</div>

			<!-- pagination -->
			<div class="pagination">
				<th:block th:if="${pm.prev}">
					<a class="page-btn" th:href="${pm.start - 1}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					</a>
				</th:block>
				<th:block th:each="num : ${#numbers.sequence(pm.start,pm.end)}">
					<a href="#" th:text="${num}" th:href="${num}" class="page-btn"
						th:classappend="${pm.paging.page == num} ? active" >
						2
					</a>
				</th:block>
				<th:block th:if="${pm.next}">
					<a class="page-btn" th:href="${pm.end + 1}" aria-label="Previous">
					<span aria-hidden="true">&raquo;</span>
					</a>
				</th:block>
			  </div>
			<div>
			<div class="input-group mb-3">
				<div class="input-group-append">
					<select name="stype" id="" class="form-control s-select">
						<option value="none">선택</option>
						<option value="T" th:selected="${pm.paging.type == 'T'}">제목</option>
						<option value="C" th:selected="${pm.paging.type == 'C'}">내용</option>
						<option value="TC" th:selected="${pm.paging.type == 'TC'}">제목+내용</option>
					</select>
				</div>
				<input type="text" name="skeyword" th:value="${pm.paging.keyword}" class="form-control s-input" aria-label="Enter Email" aria-describedby="button-addon2">
				<div class="input-group-append">
					<button class="btn btn-outline-primary s-btn" type="button" id="search-button">검색</button>
				</div>
			</div>
			</div>
			<form method="get" id="pmForm">
				<!-- <input type="hidden" name="writer"> -->
				<input type="hidden" name="page" th:value="${pm.paging.page}">
				<input type="hidden" name="type" th:value="${pm.paging.type}">
				<input type="hidden" name="keyword" th:value="${pm.paging.keyword}">
			</form>
		 

    	</div>
	</section>
<script>
	$(document).ready(function () {
		var $pmForm = $('#pmForm');
		// 페이지
		$('.page-btn').on('click', function (e) {
			e.preventDefault();
			$pmForm.attr('action', '/notice/list');
			var pageNum = $(this).attr('href');
			console.log(pageNum);
			$('input[name="page"]').val(pageNum);
			$pmForm.submit();
		});

		$('.read a').on('click', function(e) {
			e.preventDefault();
			$pmForm.attr('action', '/notice/read');
			var bno = $(this).attr('href');
			$pmForm.append('<input type="hidden" name="bno" value="'+bno+'">');
			$pmForm.submit();
		});

		$('#search-button').on('click', function(e) {
			e.preventDefault();

			if ($('select[name="stype"]').val() === "none") {
				Swal.fire({
				icon: 'error',
				title: '검색 타입을 지정하세요.',
				showConfirmButton: false,
				timer: 1200
                })

				return false;
			}

			// if ($('select[name="skeyword"]').val() === "") {
			// 	Swal.fire({
			// 	icon: 'error',
			// 	title: '검색어를 입력하세요.',
			// 	showConfirmButton: false,
			// 	timer: 1200
            //     })

			// 	return false;
			// }

			$pmForm.attr('action', '/notice/list');
			$('input[name="type"]').val($('select[name="stype"]').val());
			$('input[name="keyword"]').val($('input[name="skeyword"]').val());
			$pmForm.submit();

			return true;
		});
	});
</script>
</div>