<!DOCTYPE html>
<html 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/basicLayout}">
  
  <div class="site-section" id="properties-section" layout:fragment="content">
		<link rel="stylesheet" th:href="@{/css/search.css}">
		<!-- EnlighterJS CSS !-->
		<link rel="stylesheet" th:href="@{/css/enlighterjs.min.css}" />
    <section class="search-section" id="about-section">
		
    	<div class="search-content">
    	<!-- 검색 조건 div -->
    	<div class="search-condition">
			<h5>검색 조건</h5>
			<br>
			<div class="langCon">
				<h6>언어</h6>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="java">
					<label class="custom-control-label" for="java">Java</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="sql">
					<label class="custom-control-label" for="sql">Sql</label>
				</div>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="py">
					<label class="custom-control-label" for="py">Python</label>
				</div>
			</div>

			<br>
			<div class="linkCon">
				<h6>사이트</h6>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input outer" id="google" value="google">
					<label class="custom-control-label" for="google">Google</label>
				</div>
				<th:block sec:authorize="isAuthenticated()">
				<div th:if="${#strings.endsWith(#authentication.principal.member.userid, '_github')}" class="github-group">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input outer" id="github" value="github">
						<label class="custom-control-label" for="github">GitHub</label>
					</div>

					<div class="custom-control custom-checkbox innerGit" style="margin-left: 10px;">
						<input type="checkbox" class="custom-control-input" id="myGithub" value="myGithub">
						<label class="custom-control-label" for="myGithub">내 깃허브</label>
					</div>

					<div class="custom-control custom-checkbox innerGit" style="margin-left: 10px;">
						<input type="checkbox" class="custom-control-input" id="partnerGithub" value="partnerGithub">
						<label class="custom-control-label" for="partnerGithub">파트너 깃허브</label>
					</div>
				</div>
				</th:block>
				
			</div>
			<br>
			<div class="commentCon">
				<h6>커멘트</h6>
				<div class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="a">
					<label class="custom-control-label" for="a">All</label>
				</div>
				<th:block sec:authorize="isAuthenticated()">
				<div th:if="${#strings.endsWith(#authentication.principal.member.userid, '_github')}" class="custom-control custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="c">
					<label class="custom-control-label" for="c">Only Comment</label>
				</div>
				</th:block>
			</div>

		</div>

	<!-- 검색 결과 + input -->
	<div class="search-result">
		<!-- 검색 input 그룹 -->
		<div class="search-input-group">
    	<div class="input-group">
          <input id="keywordVal" type="text" class="form-control search-input" th:value="${param.keyword}"
		  placeholder="for 반복문 if print" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button id="searchBtn" class="btn btn-primary search-btn" type="button">검색 <i class="fas fa-search" aria-hidden="true"></i></button>
		  </div>
		</div>
        <small>'[[${pm.searchDTO.keyword}]]' 검색결과가 [[${pm.total}]]건 있습니다.</small>
		</div>

		<!-- 코드 검색결과 div -->
		<!-- 깃허브 검색일때................ -->
		<div th:if="${list[0].keyword} != null" th:each="item : ${list}" class="code-scripter">
			<a th:href="${item.pno}" th:text="${item.fname}"></a>
			<span>  | <small th:text="${item.lang}"></small></span>
			<span th:if="${pm.searchDTO.siteLink.toString().equals('github')}" >  |  <i class="fab fa-github"></i> <small>github</small>
			</span>
			<span th:if="${pm.searchDTO.siteLink.toString().equals('google')}" >  |  <i class="fab fa-google"></i> <small>[[${param.siteLink}]]</small>
			</span>
			<!-- 코드 영역 -->
			<div class="code-content">
			
				<pre th:data-enlighter-language="${item.lang}" th:text="${item.code}" th:data-enlighter-lineoffset="${item.start}">
				</pre>
			
			</div>
		</div>

		<div th:if="${pm.total}!=0" class="page-div search-page-div">
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li th:if="${pm.prev}" class="page-item">
			      <a class="page-link" th:href="${pm.start-1}" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
				<li th:classappend="${pm.searchDTO.page == num} ? active" 
					th:each="num : ${#numbers.sequence(pm.start, pm.end)}" begin class="page-item">
					<a class="page-link" th:href="${num}">[[${num}]]</a>
				</li>
			    <li th:if="${pm.next}" class="page-item">
			      <a class="page-link" th:href="${pm.end+1}" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>

		<!-- 검색어, 조건들 넣는 히든태그 -->
		<form id="sf" method="GET" action="/search/detail">
			<input type="hidden" name="page" th:value="${pm.searchDTO.page}">
			<input type="hidden" name="amount" th:value="${pm.searchDTO.amount}">
			<input type="hidden" name="pno" th:value="${pm.searchDTO.pno}">
			<input type="hidden" name="keyword" th:value="${pm.searchDTO.keyword}">
			<input type="hidden" name="lang" th:value="${pm.searchDTO.lang}">
			<input type="hidden" name="siteLink" th:value="${param.siteLink}">
			<input type="hidden" name="comment" th:value="${pm.searchDTO.comment}">
		</form>

    	</div>

    </section>
	
	<!-- EnlighterJS -->
	<script type="text/javascript" th:src="@{/js/enlighterjs.min.js}"></script>

    <!-- Init Code -->
    <script type="text/javascript">
        // - highlight all pre + code tags (CSS3 selectors)
        // - use javascript as default language
        // - use theme "enlighter" as default theme
        // - replace tabs with 2 spaces
        // EnlighterJS 플러그인 사용하기 위해서 필요함
        EnlighterJS.init('pre', 'code', {
			language : 'java',
			theme: 'enlighter',
			indent : 2
		});

		
		$(document).ready(function() {

			var $langCon = $('.langCon input[type="checkbox"]');
			var $linkCon = $('.outer');
			var $innerGitCon = $('.innerGit input');
			var $commentCon = $('.commentCon input[type="checkbox"]');

			// 체크박스 ---------------------------------------------------------------------
			// 최소 한 개 이상 선택 되도록 ( 전체 해제되는 경우 없게! )
			$langCon.on('click', function() {
				if($('.langCon input:checked').length === 0) {
					$(this).prop('checked', true);
				}
			});

			$linkCon.on('click', function() {

				// github 체크일 때 myGithub 체크 되게
				if($(this).val() === 'github') {
					
					console.log($(this).val());

					$innerGitCon.prop('checked', false);
					$innerGitCon.eq(0).prop('checked', true);

				} else { // google 체크일 때 github 전체 다 체크해제 되게

					$commentCon.prop("checked", false);
					$commentCon.eq(0).prop("checked", true);
					
					console.log($(this).val());
					$innerGitCon.prop('checked', false);
				}

				//클릭 이벤트 발생한 요소가 체크 상태인 경우
				if ($(this).prop('checked')) {

					//체크박스 그룹의 요소 전체를 체크 해제후 클릭한 요소 체크 상태지정
					$linkCon.prop('checked', false);
					$(this).prop('checked', true);
				} else {
					$(this).prop('checked', true);
				}
			});

			$innerGitCon.on('click', function() {

				$linkCon.eq(0).prop("checked", false);
				$linkCon.eq(1).prop("checked", true);

				console.log($(this).val())

				//클릭 이벤트 발생한 요소가 체크 상태인 경우
				if ($(this).prop('checked')) {
					//체크박스 그룹의 요소 전체를 체크 해제후 클릭한 요소 체크 상태지정
					$innerGitCon.prop('checked', false);
					$(this).prop('checked', true);
				} else {
					$(this).prop('checked', true);
				}
			});

			//라디오 요소처럼 동작시킬 체크박스 그룹 셀렉터
			$commentCon.on('click', function() {
				
				//클릭 이벤트 발생한 요소가 체크 상태인 경우
				if ($(this).prop('checked')) {
					//체크박스 그룹의 요소 전체를 체크 해제후 클릭한 요소 체크 상태지정
					$commentCon.prop('checked', false);
					$(this).prop('checked', true);
				} else {
					$(this).prop('checked', true);
				}
			});

			//------------------------------------------------------------------------------

			var $searchForm = $('#sf');
			
			// enlighter div 자식 태그에 검색 키워드 존재 시 강조 표시
			// .enlighter div div span - 단어마다 span 태그로 감싸져 있음
			var keyword = $('#sf input[name=keyword]').val();
			var keyArr = keyword.split(" ");
			var len = $('.enlighter div div span').length;
			
			// 키워드 여러개인 경우
			for (var j = 0; j < keyArr.length; j++) {
				for (var i = 0; i < len; i++) {
					// 검색결과 코드에 검색 키워드 존재하면
					if ($('.enlighter div div span').eq(i).html().indexOf(keyArr[j]) != -1) {
						//if ($('.enlighter div div span').eq(i).html() === keyArr[j]) {
							
						// 태그안에 여러개 단어 있을때 - 키워드에만 표시
						var codeText = $('.enlighter div div span').eq(i).html();
						if ($('.enlighter div div span').eq(i).html() != keyArr[j]) {
							
							var codeArr = $('.enlighter div div span').eq(i).html().split(keyArr[j]);
							
							$('.enlighter div div span')
							.eq(i)
							.html(
								codeArr[0] 
								+'<em style="color:#333; background-color:#faf093; font-weight: 900;">' 
									+ keyArr[j] + '</em>'+ codeArr[1]);
						} else {
							// css 스타일 변경
							$('.enlighter div div span').eq(i).css("color", "#333");
							$('.enlighter div div span').eq(i).css("background-color", "#faf093");
							$('.enlighter div div span').eq(i).css("font-weight", "900");
						}
					}
				}
			} // end of for

			// 1. 검색 조건 체크시켜주기
			// 1-1. 언어 체크
			var langConArr = $('.langCon input');
			var langArr = $('#sf input[name=lang]').val().split(" ");

			langConArr.each(function() {
				var item = $(this);
				item.prop("checked", false);
				langArr.forEach(function(r) {
					if(item.attr("id") === r) {
						item.prop("checked", true);
					}
				});
			});

			// 1-2. 사이트 체크
			var linkConArr = $('.linkCon input');
			var siteLink = $('#sf input[name=siteLink]').val();

			linkConArr.each(function() {

				var item = $(this);
				item.prop("checked", false);

				if(item.attr("id") === siteLink) {

					item.prop("checked", true);
					
					if(siteLink.indexOf("Github") != -1) {
						$("#github").prop("checked", true);
					}
				}

			});


			// 1-3. 주석, 전체 검색 체크
			var commentConArr = $('.commentCon input');
			var comm = $('#sf input[name=comment]').val();

			commentConArr.each(function() {
				var item = $(this);
				item.prop("checked", false);
				if(item.attr("id") === comm) {
					item.prop("checked", true);
				}
			});

			//-----------------------------------------------------
			// 2. 해당 pno를 이용해서 detail로 이동
			$('.code-scripter a').on("click", function(e) {

				e.preventDefault();

				var no = $(this).attr("href");
				$('#sf input[name=pno]').val(no);

				$searchForm.submit();

			});


			//-------------------------------------------------------
			var a = [];
			// 3. 검색버튼 눌렀을 때
			$('#searchBtn').on("click", function() {

				$searchForm.attr("action", "/search/list");

				// 키워드
				$('#sf input[name=keyword]').val($('#keywordVal').val());

				// 언어
				$('.langCon input[type=checkbox]:checked').each(function() {
					a.push($(this).attr("id"));

					$('#sf input[name=lang]').val(a.toString().replace(/,/gi, " "));
				});

				$('#sf input[name=siteLink]')
					.val($('.linkCon input[type=checkbox]:checked').filter(function() {
						return this.value != 'github';
					}).attr("id"));

				$('#sf input[name=comment]').val($('.commentCon input[type=checkbox]:checked').attr("id"));

				$searchForm.submit();

			});

			// 4. 페이징 
			$(".page-div ul").on("click", 'a', function(e) {

				e.preventDefault();

				var pageNum = $(this).attr("href");

				console.log("pageNum: " + pageNum);

				$("input[name='page']").val(pageNum);

				$searchForm.attr("action", "/search/list");

				$searchForm.submit();

			});
		});
			
	</script>

</div>

